name: "CLA Assistant"

on:
  issue_comment:
    types: [created]
  pull_request:
    types: [opened, closed, synchronize]

jobs:
  CLAssistant:
    runs-on: ubuntu-slim
    steps:
      - name: "CLA Assistant"
        if: (github.event.comment.body == 'recheck' || github.event.comment.body == 'I have read the CLA Document and I hereby sign the CLA') || github.event_name == 'pull_request'
        uses: cla-assistant/github-action@b1522fa982419e79591a92e1267de463a281cdb7 # v2.6.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PERSONAL_ACCESS_TOKEN: ${{ secrets.OSS_CONTRIBUTOR_LICENSE_AGREEMENT }}
        with:
          path-to-signatures: 'signatures/version1/cla.json'
          path-to-document: 'https://github.com/Staffbase/gha-workflows/blob/main/CLA.md'
          branch: 'signatures'
          allowlist: 0x46616c6b,axdotl,flaxel,kaitimmer,timdittler,MarvinZeising,michikrug,*bot*
