name: Annotate Jira Issues

on:
  workflow_call:
    inputs:
      name:
        required: false
        type: string
        default: ${{ github.event.repository.name }}
      tag-matcher:
        required: false
        type: string
    secrets:
      jira-url:
        required: true
      jira-token:
        required: true
      jira-email:
        required: true

jobs:
  jira-annotate:

    name: Annotate all occurring tickets since last release-tag
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: false

      - name: Fetch ticket Ids
        id: fetchTicketIds
        uses: Staffbase/github-action-issue-id-collection@v1.2.0
        env:
          TAG_MATCHER: ${{ inputs.tag-matcher }}

      - name: Add release notes to JIRA tickets
        uses: Staffbase/github-action-jira-release-tagging@v1.6.0
        env:
          JIRA_BASEURL: ${{ secrets.jira-url }}
          JIRA_TOKEN: ${{ secrets.jira-token }}
          JIRA_EMAIL: ${{ secrets.jira-email }}
        with:
          issueIds: ${{ steps.fetchTicketIds.outputs.tIDs }}
          componentName: ${{ inputs.name }}
          tagName: ${{ steps.fetchTicketIds.outputs.tagName }}
