name: Release Drafter

on:
  workflow_call:
    inputs:
      config-name:
        required: false
        type: string
        default: "release-drafter.yml"
      name:
        required: false
        type: string
      publish:
        default: false
        required: false
        type: boolean
      tag:
        required: false
        type: string
      version:
        required: false
        type: string
      prerelease:
        required: false
        type: boolean
        default: false
      prerelease-identifier:
        required: false
        type: string
        default: ""
    secrets:
      token:
        required: false
      app_id:
        required: false
      private_key:
        required: false

jobs:
  update_release_draft:
    name: update release draft
    runs-on: ubuntu-slim

    env:
      USING_APP_CREDENTIALS: ${{ secrets.app_id != '' && secrets.private_key != '' }}

    steps:
      - name: Get App Token
        if: ${{ env.USING_APP_CREDENTIALS == 'true' }}
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        id: get_token
        with:
          app-id: ${{ secrets.app_id }}
          private-key: ${{ secrets.private_key }}

      - name: Update Release
        uses: release-drafter/release-drafter@6db134d15f3909ccc9eefd369f02bd1e9cffdf97 # v6.2.0
        with:
          config-name: ${{ inputs.config-name }}
          name: ${{ inputs.name }}
          publish: ${{ inputs.publish }}
          tag: ${{ inputs.tag }}
          version: ${{ inputs.version }}
          prerelease: ${{ inputs.prerelease }}
          prerelease-identifier: ${{ inputs.prerelease-identifier }}
        env:
          GITHUB_TOKEN: ${{ env.USING_APP_CREDENTIALS == 'true' && steps.get_token.outputs.token || secrets.token }}
