name: TechDocs

on:
  workflow_call:
    inputs:
      publisher-type:
        required: false
        type: string
        default: 'azureBlobStorage'
      storage-name:
        required: false
        type: string
        default: 'techdocs'
      aws-region:
        required: false
        type: string
        default: 'eu-central-1'
      entity-kind:
        required: false
        type: string
        default: 'Component'
      entity-name:
        required: false
        type: string
        default: ${{ github.event.repository.name }}
      additional-plugins:
        required: false
        type: string
    secrets:
      aws-access-key-id:
        required: false
      aws-secret-access-key:
        required: false
      azure-account-name:
        required: false
      azure-account-key:
        required: false

jobs:
  techdocs:
    name: TechDocs
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build and Publish Site
        uses: Staffbase/backstage-techdocs-action@v0.2.2
        with:
          entity-kind: ${{ inputs.entity-kind }}
          entity-name: ${{ inputs.entity-name }}
          publisher-type: ${{ inputs.publisher-type }}
          storage-name: ${{ inputs.storage-name }}
          aws-region: ${{ inputs.aws-region }}
          aws-access-key-id: ${{ secrets.aws-access-key-id }}
          aws-secret-access-key: ${{ secrets.aws-secret-access-key }}
          azure-account-name: ${{ secrets.azure-account-name }}
          azure-account-key: ${{ secrets.azure-account-key }}
          additional-plugins: ${{ inputs.additional-plugins }}
