name: Stale PRs

on:
  workflow_call:
    inputs:
      close-pr-message:
        default: 'This stale PR was closed because there was no activity.'
        required: false
        type: string
      days-before-pr-stale:
        default: 60
        required: false
        type: number
      delete-branch:
        default: true
        required: false
        type: boolean
      exempt-pr-labels:
        default: ''
        required: false
        type: string
      stale-pr-message:
        default: 'This PR has been automatically marked as stale because there has been no recent activity in the last 60 days. It will be closed in 7 days if no further activity occurs such as removing the label.'
        required: false
        type: string
      stale-pr-label:
        default: 'stale'
        required: false
        type: string

jobs:
  stale:

    name: stale
    runs-on: ubuntu-slim

    steps:
      - name: Stale old PRs
        uses: actions/stale@5f858e3efba33a5ca4407a664cc011ad407f2008 # v10.1.0
        with:
          close-pr-message: ${{ inputs.close-pr-message }}
          days-before-pr-stale: ${{ inputs.days-before-pr-stale }}
          days-before-issue-stale: -1
          delete-branch: ${{ inputs.delete-branch }}
          exempt-pr-labels: ${{ inputs.exempt-pr-labels }}
          stale-pr-label: ${{ inputs.stale-pr-label }}
          stale-pr-message: ${{ inputs.stale-pr-message }}
