name: Autodev
on:
  workflow_call:
    inputs:
      base:
        default: 'main'
        required: false
        type: string
      branch:
        default: 'dev'
        required: false
        type: string
      comments:
        default: false
        required: false
        type: boolean
      email:
        default: 'staffbot@staffbase.com'
        required: false
        type: string
      failure_comment:
        required: false
        type: string
      failure_label:
        default: 'failed'
        required: false
        type: string
      label:
        default: 'dev'
        required: false
        type: string
      labels:
        default: false
        required: false
        type: boolean
      success_comment:
        required: false
        type: string
      success_label:
        default: 'successful'
        required: false
        type: string
      user:
        default: 'AutoDev Action'
        required: false
        type: string
    secrets:
      token:
        required: false
      app_id:
        required: false
      private_key:
        required: false

jobs:
  autodev:

    name: Build Dev Branch
    runs-on: ubuntu-slim

    # check to not trigger if dependabot did something or PR was closed or label is not the configured dev label
    if: github.actor != 'dependabot[bot]' && (github.event_name == 'push' || github.event.label.name == inputs.label || github.event.action == 'closed')

    env:
      USING_APP_CREDENTIALS: ${{ secrets.app_id != '' && secrets.private_key != '' }}

    steps:
      - name: Get App Token
        if: ${{ env.USING_APP_CREDENTIALS == 'true' }}
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94  # v2.2.0
        id: get_token
        with:
          app-id: ${{ secrets.app_id }}
          private-key: ${{ secrets.private_key }}

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          token: ${{ env.USING_APP_CREDENTIALS == 'true' && steps.get_token.outputs.token || secrets.token }}
          fetch-depth: 0
          fetch-tags: false

      - name: Autodev
        uses: Staffbase/autodev-action@0a588d0184173f19e5a181ae7f0be69143c2163e  # v2.6.0
        with:
          base: ${{ inputs.base }}
          branch: ${{ inputs.branch }}
          comments: ${{ inputs.comments }}
          email: ${{ inputs.email }}
          failure_comment: ${{ inputs.failure_comment }}
          failure_label: ${{ inputs.failure_label }}
          label: ${{ inputs.label }}
          labels: ${{ inputs.labels }}
          success_comment: ${{ inputs.success_comment }}
          success_label: ${{ inputs.success_label }}
          token: ${{ env.USING_APP_CREDENTIALS == 'true' && steps.get_token.outputs.token || secrets.token }}
          user: ${{ inputs.user }}
