name: Update Readme Versions

on:
  release:
    types: [published]

jobs:
  update_readme:
    runs-on: ubuntu-slim
    steps:
      - name: Checkout the source code
        uses: actions/checkout@v6
      - name: Find and Replace old versions
        run: |
          sed -i -E 's/(v[0-9]+.[0-9]+.[0-9]+)/${{ github.ref_name }}/g' README.md

      - name: Get App Token
        uses: actions/create-github-app-token@v2.2.0
        id: get_token
        with:
          app-id: ${{ vars.STAFFBASE_ACTIONS_APP_ID }}
          private-key: ${{ secrets.STAFFBASE_ACTIONS_PRIVATE_KEY }}

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ steps.get_token.outputs.token }}
          title: ":memo: Update Readme Versions"
          body: "all versions in the readme file are bumped"
          commit-message: ":memo: update readme versions"
          base: main
          labels: |
            documentation
            patch
          branch: update-readme
          add-paths: |
            README.md
